body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, monospace;;   /* font property #1 */
    font-size: 1.6em;                /* font property #2 */
    background-image: url("../Pictures/Blue.png");   
    background-size: cover;      /* makes it fill the whole screen */
    background-position: center; /* centers the image */
    background-repeat: repeat; 
}
h1 { /* Margin and Padding */
    background-color: #000000;
    border: 0.3em solid #246bd6;
    color: grey;
    font-size: 3em;
}
ul li {
    margin-bottom: 0.8em;
    background-color: #3ca3c2;
    border: 0.3em solid #000000;
}
main p { /*Styling will applies to all <p> tags in the <main> tag*/
    padding: 1em;
    margin: 1em 15% 2em 15%;
    overflow: hidden;
    font-size: large;
}
.paragraph { /*Class selector, given to <p> tags for stylings*/
    /*Class selector, will applie to all tags that are given this class, class given to <p> tags*/
    text-align: left;
    font-size: 1em;
    line-height: 2.5em;
    /*The border and color that will go around elements given this class*/
    background-color: #89d5e2;
    border-radius: 1em;
    border: 0.5em solid #000000;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    main p {
        margin: 1em 5% 2em 5%;
    }
    ul li {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    main p {
        margin: 1em 2% 2em 2%;
        font-size: 0.9em;
    }
    ul li {
        font-size: 0.8em;
    }
}

