body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, monospace;   /* font property #1 */
    font-size: 1.6em;                /* font property #2 */
    background-image: url("../Pictures/Background.png");   
    background-size: cover;      /* makes it fill the whole screen */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents repeating */
}

/* Margin and Padding */
body ul {
    display: inline-table;
}

/* Padding */
#myhobbiesandinterests {
    display: inline;
    padding-right: 5em;
    padding-left: 1.5em;
}

/* Margin */
nav ul li {
    margin-bottom: 0.8em;
    background-color: #4b68c4;
    border: 0.3em solid #000000;
}

.meandpets { 
    float: left;
    margin-bottom: 2em;
    width: 100%;
    max-width: 431px;
    border: 0.3em solid #000000;
}
h1, h2, h3{ /* Margin and Padding */
    background-color: #4b68c4;
    border: 0.3em solid #000000;
    font-size: 2em;
}
main p { /*Styling will applies to all <p> tags in the <main> tag*/
    padding: 1em;
    margin: 1em 15% 2em 15%;
    overflow: hidden;
    font-size: large;
}
.paragraph { /*Class selector, given to <p> tags for stylings*/
    /*Class selector, will apply to all tags that are given this class, class given to <p> tags*/
    text-align: left;
    font-size: 1em;
    line-height: 2.5em;
    /*The border and color that will go around elements given this class*/
    background-color: var(--text_background_color);
    border-radius: 1em;
    border: .25em solid var(--border_color);
    margin: 0 auto;
    background-color: #4b68c4;
    border: 0.3em solid #000000;
}
section ul {
    background-color: #4b68c4;
    border: 0.3em solid #000000;
}
/* Tablets */
@media (max-width: 768px) {
    .meandpets {
        max-width: 90%;  /* almost full width */
    }

    main p {
        margin: 1em 5% 2em 5%; /* reduce side margins */
    }

    nav ul li {
        font-size: 0.9em;
        padding: 0.5em 0;
    }
}

/* Phones */
@media (max-width: 480px) {
    .meandpets {
        max-width: 100%;
    }

    main p {
        margin: 1em 2% 2em 2%;
        font-size: 0.9em;
    }

    nav ul li {
        display: block; /* make nav vertical on phones */
        width: 100%;
        margin-bottom: 0.5em;
    }
}
