body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, monospace;;   /* font property #1 */
    font-size: 1.6em;                /* font property #2 */
    background-color: #ffa600;        /* color */
}
ul li {
    margin-bottom: 0.8em;
    background-color: #ffffff;
    border: 0.3em solid #000000;
}

.column {
    float: left;
    width: 32%;
    border: 0.5em solid rgb(124, 124, 124);  /* chaotic border */
    height: 40em;            /* fixed height for chaos */
    overflow: auto;
}
.column.left {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.column.middle {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.column.right {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1 { /* Margin and Padding */
    background-color: #ffffff;
    border: 0.3em solid #000000;
    font-size: 3em;
}
.column.left h2 {
    font-style: bold;
}
.column.middle h3 {
    font-style: bold;
}
.column.right h4 {
    font-style: bold;
}
.videobox {
    grid-area: auto;
    margin-right: 1.25%;
    place-content: center;
}

.video {
    width: 100%;
    height: auto;
    border-radius: 1em;
    border: 0.25em ridge black;
}
#basketball {
    float: none;
    margin-bottom: 2em;
    width: 100%;
    max-width: 431px;
    border: 0.3em solid #000000;
}
#football{
    float: none;
    margin-bottom: 2em;
    width: 100%;
    max-width: 431px;
    border: 0.3em solid #000000;
}
/* For tablets (768px and below) */
@media (max-width: 768px) {
    .column {
        width: 48%;   /* two columns side by side */
        float: none;
        margin: 1%;
    }
}

/* For phones (480px and below) */
@media (max-width: 480px) {
    .column {
        width: 100%;  /* stack columns vertically */
        margin: 0 0 1em 0;
    }
    
    h1 {
        font-size: 2em;  /* smaller headings for phones */
    }
    
    body {
        font-size: 1.2em; /* slightly smaller text */
    }
}

