body {
    text-align: center;
    font-family: Copperplate, fantasy;   /* font property #1 */
    font-size: 1.6em;                /* font property #2 */
    background-color: #ffa600;        /* color */
}
.column {
    float: left;
    width: 32%;
    border: 0.5em solid pink;  /* chaotic border */
    height: 15em;            /* fixed height for chaos */
    overflow: auto;
}
.column.left {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.column.middle {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.column.right {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1 { /* Margin and Padding */
    background-color: #ffffff;
    border: 0.3em solid #000000;
    font-size: 3em;
}

