body {
    text-align: center;
    font-family: Copperplate, fantasy;   /* font property #1 */
    font-size: 1.6em;                /* font property #2 */
    background-color: #ffa600;        /* color */
}
.column {
    float: left;
    width: 32%;
    border: 0.5em solid pink;  /* chaotic border */
    height: 15em;            /* fixed height for chaos */
    overflow: auto;
}
.column.left {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.column.middle {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.column.right {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1 { /* Margin and Padding */
    background-color: #ffffff;
    border: 0.3em solid #000000;
    font-size: 3em;
}

#nav_menu {
    margin: auto;
    width: 100%;
}

#nav_menu ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around; 
    list-style-type: none;
    position: relative;
}


#nav_menu ul li {
    flex-basis: 33.33%;          
}


#nav_menu ul li a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-right: 2px solid var(--border_color);
}


#nav_menu ul li:last-child a {
    border-right: none;
}
